APP_ENV=dev
APP_DEBUG=1
DB_DSN="mysql:host=db;dbname=picaflic;charset=utf8mb4"
DB_USER="root"
DB_PASS="password"
JWT_SECRET="change_me_in_prod"
JWT_TTL=3600
TMDB_API_KEY=""
WATCHMODE_API_KEY=""
WATCHMODE_REGION="US"
